@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

$family-primary: 'Open Sans', sans-serif !default;
$title-family: 'Raleway Bold', sans-serif !default;
$subtitle-family: 'Raleway', sans-serif !default;
$title-weight: 700 !default;
$title-size: 3rem !default;
$family-secondary: 'Open Sans', sans-serif !default;
$family-sans-serif: 'Raleway', sans-serif !default;
$body-background-color: #eeeeee !default;
$button-family: $family-primary !default;

@import '~bulma/bulma.sass';
