
$family-primary: 'Open Sans', sans-serif !default
$family-secondary: 'Raleway', sans-serif !default
$title-family: 'Raleway', sans-serif !default
$subtitle-family: 'Raleway', sans-serif !default
$title-size: 3rem !default
$title-weight: 700 !default
$primary: #14b2ba !default
$danger: #ba1032 !default
$family-secondary: 'Raleway', sans-serif !default
$family-sans-serif: 'Raleway', sans-serif !default
$body-background-color: #eeeeee !default
$button-family: $family-primary !default
@import '~bulma/bulma.sass'
@import "_layout"
@import "_canvas"



