@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap')

$family-primary: 'Open Sans', sans-serif !default
$title-family: 'Raleway-bold', sans-serif !default
$subtitle-family: 'Raleway', sans-serif !default
$title-size: 3rem !default
$primary: #14b2ba !default
$danger: #ba1032 !default
$family-secondary: 'Raleway', sans-serif !default
$family-sans-serif: 'Raleway', sans-serif !default
$body-background-color: #eeeeee !default
$button-family: $family-primary !default
@import '~bulma/bulma.sass'
@import "_layout"
@import "_canvas"



